<div class="body" style="margin: 0px; overflow: hidden">
  <div class="bodyDiv">
    <div class="container bodyContainer">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab">
                  <a class="active" href="#login">iChat Login</a>
                </li>
                <li class="tab">
                  <a href="#signup">iChat Sign Up</a>
                </li>
              </ul>
            </div>
            <div class="card-content">
              <p
                style="text-align:center; font-size: 50px; font-family: 'Brush Script MT' "
              >
                Welcome to iChat
              </p>
            </div>
            <div class="card-content auth-content">
              <div id="login">
                <app-login></app-login>
              </div>
              <div id="signup">
                <app-signup></app-signup>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
